<article class='card bg-light m-3 post'>
  <header class='card-header'>
    <h5><%= post.title %></h5>
  </header>

  <main class='card-body'>
    <%= link_to(body=fix_url(post.url), url=fix_url(post.url)) %>
    <p class='card-text'>
      <%= post.description %>
    </p>
  </main>

  <footer class='card-footer'>
    <%= render 'shared/creator_details', obj: post %>
    <nav class='btn-group mt-auto'>
      <%= button_to 'View', post_path(post), method: 'get', class: 'btn btn-sm btn-outline-secondary' %>
      <%= button_to 'Edit', edit_post_path(post), method: 'get', class: 'btn btn-sm btn-outline-secondary border-left-0' %>
    </nav>
  </footer>
</article>
